<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BookstoreSimpleDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3CC791A1ED2B55C00AA37C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3CC792E1ED2B55D00AA37C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3CC79391ED2B55D00AA37C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
